* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A0B2E;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 76px;
    background-color: #1A0B2E;
}


.nav-logo h2 {
    font-size: 26px;
}

#tech {
    color: #ffffff;
    font-weight: 700;
}

 
#wave {
    font-weight: 700;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 
.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-menu ul li {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    position: relative;
     
}

 



.nav-menu ul li:hover::after {
    width: 100%;
}

 
.btn-primary {
    width: 135px;
    height: 40px;
    padding: 10px 26px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 52%, #9100F8 100%);
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    content: 'arrow_right';
    
}


.btn-primary::after {
    content: "→";
    margin-left: 4px;
    font-size: 15px;
    display: inline-block;
}

.btn-primary:hover {

    color: #0e0620;
}
  
 .hero {
    position: relative;
    width: 100%;
    height: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
     
    overflow: hidden;
    color: #fff;
    text-align: center;
}

 
.wave1 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
     
}

 
.wave2 {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

 
.hero-content {
    position: relative;
    z-index: 3;
}


.hero-image2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116.67px;
    height: 176px;
    z-index: 4;
}

 
.hero-text {
    margin-top: 400px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;
}

.hero-text p {
    font-size: 10px;
    max-width: 480px;
    margin: 0 auto 30px;
    line-height: 1.0;
}

 
.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn1 {
    width: 200px;
    height: 44px;
    padding: 0 auto;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 52%, #9100F8 100%);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    
}
 
.btn2 {
    width: 200px;
    height: 44px;
    padding: 0 auto;
    border-radius: 30px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    cursor: pointer;
}
.imgclass {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: -2px;
}
.badge-new {
  position: absolute;
  top: 15px;
  right: 120px;


  
  
  background: #00FF88;
  color: #0b2e1a;
  font-size: 11px;
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 20px;
  transition: all 0.3s ease;

}
.badge-new:hover {
  background: #00cc70; 
  transform: scale(1.1); 
}

.about-section {
    width: 100%;
;
    background-color: #0e0620;
}
.about h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-size: 48px;
    font-weight: 700;
    bottom: -20px;
}
.about p {
    color: #ffffff;
    text-align: center;
    padding: 0 auto;
    font-size: 12px;
    line-height: 1.5;
}
 
.stats-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    padding: 40px 0 80px 0;
}
.stat h1 {
  font-size: 42px;
  font-weight: 700;
  color: #00FF88;    
  margin: 0;
}

.stat p {
  margin-top: 8px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
}
 .card-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.card-container h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
  color: #ffffff;
}


.Card-Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.Card-Container h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  color: #ffffff;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

 
.cards div {
 
  padding: 30px;
  border-radius: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards  div:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(255, 0, 255, 0.25);
}

.cardbig {
  grid-row: span 2;
}

.cardmedium {
  grid-column: span 2;
}
.cardsmall {
  grid-column: span 1;
}


.icon {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}


.cards h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #ffffff;
}

.cards p {
  font-size: 14px;
  line-height: 1.6;
  color: #dcdcdc;
}   
  
.featured {
  padding: 60px 8%;
  background-color:  #1A0B2E;
  color: #ffffff;
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 600;
}

 
.episodes {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

 
.episodes::-webkit-scrollbar {
  height: 8px;
}

.episodes::-webkit-scrollbar-thumb {
  background:  #1A0B2E;
  border-radius: 10px;
}

 
.episode-card {
  background-color:  #1A0B2E;
  border-radius: 14px;
  min-width: 250px;
  max-width: 72px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episode-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}

 
.episode-card iframe {
  width: 100%;
  height: 200px;
  border: none;
  display: block;
}

 
.episode-card h3 {
  font-size: 1.05rem;
  margin: 15px;
  line-height: 1.4;
}

.episode-card p {
  font-size: 0.9rem;
  margin: 0 15px 15px;
  color: #cbd5f5;
}


.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 15px 10px;
  font-size: 0.85rem;
  color:  green;
}

.duration,
.views {
  white-space: nowrap;
}

 
.icon {
  width: 10px;
  height: 10px;
  margin-left: auto;
  opacity: 0.85;
  ;
}


 


.host {
  padding: 0 auto;
   
  color: #ffffff;
}

.host-card {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
   
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
}

.host-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
   
}

.host-info h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.host-role {
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 15px;
}

.host-desc {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.6;
}

.host-socials {
  display: flex;
  gap: 15px;
  margin-top: 15px;
   
  border-radius: 50%;
}

.host-socials img {
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50%;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.host-socials img:hover {
  transform: scale(1.15);
  
}
 .techwave-footer {
  width: 100%;
  height: 480px;
   
  background-size: cover;
  position: relative;

  color: #ffffff;
}

 
.footer-content {
  width: 100%;
  height: 50%;
  position: relative;
  color: #ffffff;
}


.footer-logo {
  position: absolute;
  top: 65%;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: 1000px;
  margin: 0;
  text-align: center;
}

.footer-logo span {
  background: linear-gradient(90deg,#FB09B4, #7209b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 
.audio-wave {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 600px;
  height: 40px;
  background: url("B13-A02-TechWave/assets/wave.png") repeat-x center;
  opacity: 0.4;
}
 
.footer-social {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 100px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.footer-social img {
  width: 15px;
  opacity: 0.85;
  transition: 0.3s ease;
  top: 30px;
  color: #ffffff;
  font-size: 12px;

}

.footer-social img:hover {
  transform: translateY(-4px) scale(1.1);
  opacity: 1;
}

 
.footer-copy {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #ffffff;
}
.footer-social a {
  text-decoration: none;    
  color: #ffffff;           
}

.social-item span {
  color: #ffffff;          
  font-size: 8px;
  margin-top: -3px;
  bottom: auto;
}

 
.footer-social a:hover {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .stat h1 {
    font-size: 32px;
  }

  .stat p {
    font-size: 11px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 12px;
    max-width: 300px;
  }

  .hero {
    height: 600px;
  }
  
}